
header {
  display: flex;
  height: 50px;
  background-color: #cc0033;
  border-color: #cc0033;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

nav a i {
  background-color:white;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  font-size: 30px;
  align-content: center;
  text-align: center;
}

nav a {
  padding-right: 10px; 
  text-decoration: none;
  align-items: center;
}

.fa-message {
  color: #cc0033; /* Color normal */
  transition: color 0.1s ease; /* Transición suave */
}

.fa-message:hover {
  color: #0084B4;
  background-color: #C9F1FF;
  border-color: #C9F1FF;
}

.fa-bell {
  color: #cc0033; /* Color normal */
  transition: color 0.1s ease; /* Transición suave */
}

.fa-bell:hover {
  color: #0084B4;
  background-color: #C9F1FF;
  border-color: #C9F1FF;
}

.fa-gear {
  color: #cc0033; /* Color normal */
  transition: color 0.1s ease; /* Transición suave */
}

.fa-gear:hover {
  color: #0084B4;
  background-color: #C9F1FF;
  border-color: #C9F1FF;
}

.fa-user {
  color: #cc0033; /* Color normal */
  transition: color 0.1s ease; /* Transición suave */
}

.fa-house {
  color: #cc0033; /* Color normal */
  transition: color 0.1s ease; /* Transición suave */
}

.fa-users {
  color: #cc0033; /* Color normal */
  transition: color 0.1s ease; /* Transición suave */
}

.fa-address-book {
  color: #cc0033; /* Color normal */
  transition: color 0.1s ease; /* Transición suave */
}

.fa-newspaper {
  color: #cc0033; /* Color normal */
  transition: color 0.1s ease; /* Transición suave */
}



.logo {
  display: flex;
  align-items: center;
}

.logo img{
  height: 50px;
  padding: 10px;
}

.busquedaContenedor {
  background-color: #cc0033; /* Color de fondo del contenedor */
  border-radius: 50px;
  display: flex;
  align-items: center;
  padding-right: 10px;
}

.busquedaEntrada {
  border: none;
  border-color: #cc0033;
  border-radius: 50px;
  padding: 10px;
  font-size: 18px;
  outline: none;
  width: 300px;
  color: #660019;
  padding-right: 10px;
}

.contencionCuerpo {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  flex: 1;
  display: flex;
}

.panelIzquierdo {
  background-color: white;
  flex: 2.5;
  padding: 20px;
}
.panelDerecho {
  background-color: #ccc;
  display: grid;
  flex: 7.5;
  padding: 20px;
  justify-content: center;
}

.contenedorOpcionesRS {
  background-color: white;
  height: 40px;
  width: 100%;
  flex: 1;
  display: flex;
  padding: 10px;
  text-decoration: none;
}

.contenedorOpcionesRS i{
  display: inline-block;
  background-color:white;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  font-size: 30px;
  align-content: center;
  text-align: center;
  
}

.contenedorOpcionesRS div {
  background-color: #E0E0E0;
  color: #660019; /* Color de fondo del contenedor */
  border-radius: 50px;
  height: 40px;
  width: 90%;
  font-size: 18px;
  display: inline-block;
  align-content: center;
  text-align: left;
  padding-left: 10px;
}
/*
.contenedorOpcionesRS:hover .fa-user {
  color: #0084B4;
} 

.contenedorOpcionesRS:hover .fa-house {
  color: #0084B4;
}
  
.contenedorOpcionesRS:hover .fa-users {
  color: #0084B4;
}
  
.contenedorOpcionesRS:hover .fa-address-book {
  color: #0084B4;
}
  
.contenedorOpcionesRS:hover .fa-newspaper {
  color: #0084B4;
}
*/
.contenedorOpcionesRS div:hover {
  background-color: #C9F1FF;
  color: #0084B4;
} 
